
*{
    box-sizing: border-box;
}

body{
    
}

h1{
    text-align: center;
    color: red;
}

 

p{  
    color: black;
    font-family: helvetica; 
}

section{
    position: relative;
    left: 75.5%;
    top: -2px;
    padding: 1px;
    border: 2px solid black;
    width: 25%;
    text-align: center;
    background-color: red;

}

#p1{
    background-color: blue;
    color: white;
}

#p2{
    background-color: gold;
    

}

#p3{
    background-color: red;
}

/************Simple Responsive Framework**********/

.item1, .item2, .item3
{
    margin: 3px;
    padding: 2px;
    background-color: gray; 
    float: left;
}
    

/*****Large Device Only*****/
@media (min-width: 992px) 
{
    
    .item1, .item2, .item3
    {
        margin: 6px;
        float: left;
        border: 1px solid black;
        width: 32%;
    }
    
}

     /*****Medium Device Only*****/
@media (min-width: 768px) and (max-width: 991px)
{
    .item1, .item2
    {
        margin: 6px;
        width: 43%;
    }
}

@media (min-width: 768px) and (max-width: 991px)
{
    .item3
    {
        margin: 6px;
        width: 88%;

    }
}

    /*****Small Device Only*****/
@media (max-width: 767px)
{
    .item1, .item2, .item3
    {
        margin: 6px;
        width: 90%;
    }
    
}

.footer {
    clear: both;
    margin-left: 20px;
    position: relative;
    bottom: 2px;
    top: 100px;
}